<div
	class="offcanvas offcanvas-start"
	tabindex="-1"
	id="offcanvasSidenav"
>
	<div class="offcanvas-header bg-dark border-bottom border-light">
		{% if user.is_authenticated %}
		<div class="hstack gap-3">
			<div class="">
				<img
					src="https://via.placeholder.com/110X110"
					width="45"
					class="rounded-3 p-1 bg-white"
					alt=""
				/>
			</div>
			<div class="details">
				<h6 class="mb-0 text-white">Hi, {{user.username}}!</h6>
			</div>
		</div>
		{% else %}
		<div class="hstack gap-3">
			<div class="">
				<img
					src="https://via.placeholder.com/110"
					width="45"
					class="rounded-3 p-1 bg-white"
					alt=""
				/>
			</div>
			<div class="details">
				<h6 class="mb-0 text-white">
					Login First
				</h6>
			</div>
		</div>
		{% endif %}
		<div data-bs-dismiss="offcanvas">
			<i class="bi bi-x-lg fs-5 text-white"></i>
		</div>
	</div>
	<div class="offcanvas-body p-0">
		<nav class="sidebar-nav">
			<ul
				class="metismenu"
				id="sidenav"
			>
				<li>
					<a href="/">
						<i class="bi bi-house-door me-2"></i>
						Home
					</a>
				</li>
				<li>
					<a
						class="has-arrow"
						href="javascript:;"
					>
						<i class="bi bi-person me-2"></i>
						Account
					</a>
					<ul>
						<li><a href="javascript:;">View My Profile</a></li>
						<li><a href="javascript:;">Account Settings</a></li>
					</ul>
				</li>
				<li>
					<a
						class="has-arrow"
						href="javascript:;"
					>
						<i class="bi bi-heart-pulse me-2"></i>
						Meditation
					</a>
					<ul>
						<li><a href="javascript:;">Respiratory Graph</a></li>
						<li><a href="javascript:;">Sustained Attention</a></li>
					</ul>
				</li>
				<li>
					<a href="javascript:;">
						<i class="bi bi-question-circle me-2"></i>
						About Us
					</a>
				</li>
				{% if user.is_authenticated %}
				<li>
					<form
						method="post"
						action="{% url 'common:logout' %}"
					>
						{% csrf_token %}
						<a
							href="#"
							onclick="this.parentNode.submit(); return false;"
						>
							<i class="bi bi-box-arrow-right me-2"></i>
							Log Out
						</a>
					</form>
				</li>
				{% else %}
				<li>
					<a href="{% url 'common:login' %}">
						<i class="bi bi-box-arrow-in-right me-2"></i>
						Log In
					</a>
				</li>
				{% endif %}
			</ul>
		</nav>
	</div>
	<div class="offcanvas-footer border-top p-3">
		<div class="form-check form-switch">
			<input
				class="form-check-input"
				type="checkbox"
				role="switch"
				id="DarkMode"
				onchange="toggleTheme()"
			/>
			<label
				class="form-check-label"
				for="DarkMode"
				>Dark Mode</label
			>
		</div>
	</div>
</div>
