<!DOCTYPE html>
<html lang="en">
	<head>
		{% include "../_head.html" %}
	</head>
	<body>
		<!--page loader-->
		<div class="loader-wrapper">{% include "../_loader.html" %}</div>
		<!--end loader-->

		<!--start wrapper-->
		<div class="wrapper">
			<!--start to header-->
			<header
				class="top-header fixed-top border-bottom d-flex align-items-center"
			>
				<nav class="navbar navbar-expand w-100 p-0 gap-3 align-items-center">
					<div
						class="nav-button"
						onclick="history.back()"
					>
						<a href="javascript:;"><i class="bi bi-arrow-left"></i></a>
					</div>
					<div class="account-change">
						<h6 class="mb-0 fw-bold text-dark">Change Password</h6>
					</div>
				</nav>
			</header>
			<!--end to header-->

			<!--start to page content-->
			<div class="page-content">
				<div class="login-body">
					<h5 class="fw-bold">Update Your Password</h5>
					<p class="mb-0">Enter the new password</p>
					<form class="mt-4">
						<div
							class="input-group mb-3"
							id="show_hide_password1"
						>
							<div class="form-floating flex-grow-1">
								<input
									type="password"
									class="form-control rounded-3 border-end-0 rounded-end-0"
									id="floatingInputPassword1"
									placeholder="Enter Password"
									value="password123"
								/>
								<label for="floatingInputPassword1">New Password</label>
							</div>
							<span
								class="input-group-text bg-transparent rounded-3 rounded-start-0"
								><i class="bi bi-eye-slash"></i
							></span>
						</div>
						<div
							class="input-group mb-3"
							id="show_hide_password2"
						>
							<div class="form-floating flex-grow-1">
								<input
									type="password"
									class="form-control rounded-3 rounded-end-0 border-end-0"
									id="floatingInputPassword2"
									placeholder="Enter Password"
									value="password123"
								/>
								<label for="floatingInputPassword2">Confirm Password</label>
							</div>
							<span
								class="input-group-text bg-transparent rounded-3 rounded-start-0"
								><i class="bi bi-eye-slash"></i
							></span>
						</div>
						<div class="mb-0 d-grid">
							<button
								type="button"
								class="btn btn-dark btn-ecomm rounded-3"
							>
								Change Password
							</button>
						</div>
					</form>
				</div>
			</div>
			<!--end to page content-->

			<!--start to footer-->
			<footer
				class="page-footer fixed-bottom border-top d-flex align-items-center justify-content-center"
			>
				<a
					href="authentication-log-in.html"
					class="text-dark btn-ecomm"
					>Back to Log In</a
				>
			</footer>
			<!--end to footer-->
		</div>
		<!--end wrapper-->

		<!--JS Files-->
		{% include "../_scripts.html" %}
	</body>
</html>
