<!DOCTYPE html>
<html lang="en">
	<head>
		{% include "../_head.html" %}
	</head>

	<body class="splash-bg-2">
		<!--page loader-->
		<div class="loader-wrapper">{% include "../_loader.html" %}</div>
		<!--end loader-->

		<!--start wrapper-->
		<div class="wrapper">
			<!--start to page content-->
			<div class="page-content">
				<div
					class="card rounded-0 bg-transparent position-absolute fixed-bottom m-3 border-0"
				>
					<div class="card-body">
						<div class="text-center my-5">
							<h5 class="text-white fw-bold">Enjoy your shopping with us</h5>
							<p class="mb-0 text-white">
								At vero eos et accusamus et iusto odio dignissimos ducimus qui
								blanditiis
							</p>
						</div>
						<div class="d-grid gap-3">
							<a
								href="authentication-log-in.html"
								class="btn btn-ecomm bg-white border-white rounded-3"
								>Log In</a
							>
							<a
								href="authentication-sign-up.html"
								class="btn btn-ecomm bg-transparent border-white text-white rounded-3"
								>Sign Up</a
							>
						</div>
					</div>
				</div>
			</div>
			<!--end to page content-->
		</div>
		<!--end wrapper-->

		<!--JS Files-->
		{% include "../_scripts.html" %}
	</body>
</html>
