<!DOCTYPE html>
<html lang="en">
	<head>
		{% include "../_head.html" %}
	</head>

	<body>
		<!--start wrapper-->
		<div class="wrapper">
			<!--start to page content-->
			<div class="page-content">
				<div class="card rounded-0 border-0">
					<div class="card-body p-0">
						<div class="text-center">
							<img
								class="img-fluid"
								src="https://via.placeholder.com/740"
								alt=""
							/>
						</div>

						<div class="text-center my-5">
							<h5 class="text-dark fw-bold">We Promis Productivity</h5>
							<p class="mb-0">
								At vero eos et accusamus et iusto odio dignissimos ducimus qui
								blanditiis
							</p>
						</div>
						<div class="d-grid">
							<a
								href="authentication-splash-2.html"
								class="btn btn-dark btn-ecomm rounded-3"
								>Get Started</a
							>
						</div>
					</div>
				</div>
			</div>
			<!--end to page content-->
		</div>
		<!--end wrapper-->

		<!--JS Files-->
		{% include "../_scripts.html" %}
	</body>
</html>
